@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

html {
  background-color: ghostwhite;
  --gridlines: Gainsboro;
  --gridSize: 100px;
  background-size: var(--gridSize) var(--gridSize);
  background-image: linear-gradient(
      to bottom,
      transparent 0 50%,
      var(--gridlines) 52%,
      transparent 50%
    ),
    linear-gradient(
      to right,
      transparent 0 50%,
      var(--gridlines) 52%,
      transparent 50%
    );
  background-position: 50% 50%;
}
body {
  width: 700px;
  margin: 2em auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
  border-radius: 1em;
}

h1 {
  font-family: "Tangerine", cursive;
  font-size: 64px;
  text-shadow: 4px 4px 4px Gainsboro;
  margin: 0.5em 0;
}

label {
  padding: 1em;
  vertical-align: super;
}

table,
footer {
  margin-top: 2em;
  width: 100%;
}

td {
  padding: 0.75em;
  border: 1px solid black;
}

td:first-child {
  border-radius: 2em;
}

tr:first-child > td {
  font-style: italic;
}

td:nth-child(n + 3) {
  text-align: right;
}

abbr {
  text-decoration: none;
}

td:last-child {
  font-family: "Roboto Mono", monospace;
}

footer > a {
  color: black;
  text-decoration: none;
}
